@use 'variables' as * ;
@use 'mixins' as * ;

.wrapper {
  max-width: $wrapper;
  margin: 0 auto;
}

.container {
  max-width: $container;
  margin: 0 auto;
  padding: 0 1.6rem;

  @include max-screen(mobile) {
    padding: 0 0.8rem;
  }
}

.header {
  height: $header-height;
  position: relative;
  @include flex-ct-c;
  background: url("../images/hero-img.jpg") no-repeat center;
  background-size: cover;

  @include max-screen(mobile) {
    padding-top: 2.4rem;
  }
}

.main-profile {
  display: flex;

  .cv-info {
    width: aside-w(sm);
    padding: (avatar-w(lg) / 2 + 3.6rem) 2.4rem 6.4rem;
    background-color: $primary-color;
    position: relative;
    font-size: $text-caption;
    color: $neutral-color;

    @include max-screen(laptop) {
      width: aside-w(md);
      padding: (avatar-w(md) / 2 + 2.4rem) 1.6rem 4.8rem;
    }

    @include max-screen(mobile) {
      position: fixed;
      top: 0;
      left: 0;
      width: 70%;
      height: 100vh;
      overflow-y: scroll;
      z-index: 100;
      transform: translateX(-100%);
      padding-top: 2.4rem;
    }

    @include max-screen(small-mobile) {
      width: 100%;
    }
  }

  .cv-main {
    width: 100% - aside-w(sm);
    padding: 2.4rem;
    background-color: $base-background-color;

    @include max-screen(laptop) {
      width: 100% - aside-w(md);
      padding: 1.6rem;
    }

    @include max-screen(mobile) {
      width: 100%;
    }
  }
}