@use 'variables' as * ;
@use 'mixins' as * ;

.cv-main__section {
  &:not(:last-child) {
    margin-bottom: $section-gap;
  }
}

.main-section {
  &__title {
    font-size: $text-lg;
    font-weight: 700;
    line-height: 1.5;
    word-spacing: 4px;
    text-transform: uppercase;
    border-bottom: 1px solid $primary-color;
    margin-bottom: 1.6rem;
  }

  &__content {
    line-height: 1.5;
  }
}

.skills__item,
.education__item {
  position: relative;
  padding-left: 3rem;
  margin-bottom: 0.8rem;

  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 1rem;
    transform: translateY(-50%) rotate(45deg);
    @include square(0.8rem);
    border: 1px solid $primary-color;
  }
}

.education {
  &__item::before {
    top: 0;
    transform: translateY(100%) rotate(45deg);
    background-color: $primary-color;
  }

  &__degree {
    text-transform: uppercase;
  }
}

.software-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -1.6rem -1.6rem;

  @include max-screen(small-mobile) {
    margin: 0;
  }

  &__item {
    width: 100%;
    max-width: calc(33.3% - 3.2rem);
    display: flex;
    align-items: center;
    margin: 0 1.6rem 1.6rem;

    @include max-screen(laptop) {
      max-width: calc(50% - 3.2rem);
    }

    @include max-screen(small-mobile) {
      max-width: 100%;
    }
  }

  &__label {
    text-transform: uppercase;
    width: 100%;
  }

  &__stars {
    @include flex-ct;
    gap: 0.4rem;
  }

  &__star {
    @include square(1rem);
    transform: rotate(45deg);
    background-color: $secondary-color;

    &--fill {
      background-color: $primary-color;
    }
  }
}

.work-experience {
  &__item {
    margin-left: 1rem;

    &:not(:last-child) {
      padding-bottom: 1.2rem;
    }
  }

  &__label {
    display: flex;
    gap: 1rem;
    padding: 0 1.6rem 0.8rem;
    margin-bottom: 1.2rem;
    border-bottom: 1px solid $primary-color;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      bottom: -1px;
      left: 0;
      @include square(0.8rem);
      transform: rotate(45deg) translateY(50%);
      transform-origin: center;
      background-color: $primary-color;
    }
  }

  &__title {
    text-transform: uppercase;
    margin-bottom: 1.2rem;
  }

  &__desc {
    padding-left: 1.6rem;

    ul {
      list-style: circle;

      li {
        line-height: 1.6;
        margin-bottom: 0.8rem;
      }
    }
  }
}

.hobby {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 2.4rem;

  @include max-screen(laptop) {
    grid-template-columns: repeat(auto-fit, minmax(9.6rem, 1fr));
  }

  &__item {
    @include flex-ct-c;
  }

  &__label {
    text-transform: uppercase;
  }

  &__icon {
    @include square(8rem);
    padding: 1.6rem;

    @include max-screen(laptop) {
      @include square(6.4rem);
    }

    img {
      @include square(100%);
    }
  }
}